<% places.forEach( data => { %>
    <div class="container-xtr container-fluid" id="top-post-container" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);">
          <div class="row" style= "padding: 10px 0px;">
            <div class="col-12 col-sm-12 col-md-5">
              <div class="container" style="margin-top: 10px;">
                <a href="/places/posts/<%=data.id%>" class="article-links"><div class="promo" style="--overlay-color: hotpink">
                    <div class="image-wrapper " >
                  
                          
                          <img src="<%= data.thumbnail %>"/>`
                          
                      
                    
                    
                    </div>
                    <!-- <h2 class="title" style="color: black;" data-cta="Explora nuestro mundo →"></h2> -->
                </div></a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7" style="padding-bottom: 20px; padding-top: 20px;"> 
              <div class="container mobile-container">
              
                <div>
                  
                 <h1 style="padding:5px;color:black; letter-spacing: 1px;" class="title-div"><%=data.title%></h1>
                 
                 
                 <p style="color:black; word-wrap:break-word;" class="target"><%=data.content%></p>
                <a href="/places/posts/<%= data.id %>"> 
                
                  <button id="read-btn" class="read-more-btn" style="background:linear-gradient(to right,#ff5f6d,#f7b733); font-size:20px; padding-left: 45px; padding-right: 45px; padding-bottom: 40px; border:3px solid #000; border-radius: 20px;">Ver Más</button>
                
                
                </a></div><a href="/places/posts/<%= data.id %>">
              </a>
            </div>
            </div>
          </div>
        </div>
        <%})%>
        
        
      <!-- <div class="container grid-layout" style="margin-bottom: 100px;">
        <h1 style="padding-top:50px; margin-bottom:30px; margin-top: 40px; font-weight: bold; color: white; font-family: 'Ananda Namaste Regular'; " class="text-center">Últimas publicaciones</h1>
        <%    places.forEach(data=>{ if(data.colindex===1){ %>
            <div class="row d-flex justify-content-between">
                
              <%}if(data.check===0){%>
                <div id="lt-blog" class="col-12 col-md-4 my-2">
                  <a href="<%=data.url%>">
                <img src="/uploads/<%= data.thumbnail %>" alt="image" style="width:100%; height:300px;">
              </a>
                <p style="color:white;font-weight:bold; font-size: 17px;"><%=data.title%><br><span style="color: #f5f5f5;">Categoría-<%=data.tag%></span></p>
              
            </div>
          
            <%}else{%>
            <div id="lt-blog" class="col-12 col-md-4 my-2">
                  <a href="<%=data.url%>">
                <img src="<%=data.thumbnail%>" alt="image" style="width:100%; height:300px;">
              </a>
                <p style="color:white;font-weight: bold; font-size: 17px; "><%=data.title%><br><span style="color: #f5f5f5;">Categoría-<%=data.tag%></span></p>
              
            </div>
          
        
          <%}if(data.colindex===3){%>
          </div> 
      <%}})%>
         
      </div> -->
      </div>
    
        <br>